.header {

    padding: 20px 0px;
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .logo {
        aspect-ratio: 130 / 40;
        width: clamp(91px, 2.500vw + 82.000px, 130px);
    }

    .right {
        display: flex;
        align-items: center;
        gap: 50px;
        .nav {
            ul {
                display: flex;
                align-items: center;
                gap: 40px;
                li {
                }
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 20px;
            .btn_1 {
                border-radius: 12px;
                padding: 10px;
            }

            .btn_2 {
                border-radius: 12px;
                padding: 10px 20px;
            }
        }
    }

}



.btn {
    padding: 16px 25px;
}



.banner {
    main {
        margin-top: 20px;
        display: flex;
        align-items: center;
        align-items: flex-start;
        ._1 {
            .large {
                margin-top: 30px;
            }
            .button {
                margin-top: 40px;
            }
        }
    }
}


.section {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .col {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2 {
                font-weight: 900;
            }

            p {
                text-transform: uppercase;
            }
        }
    }
}









.BurgerButton {
    display: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: 30px;

    @media (max-width: 1200px) {
        display: flex;
    }

    .inner {
        height: 100%;
        width: 100%;
        position: relative;

        div {
            position: absolute;
            width: 100%;
            transition: .3s all ease-in-out;
            height: 2px;
            background: black;
        }

        .top {
            top: calc(30px / 6);
            transform-origin: left top;
        }

        .center {
            top: calc(30px / 2);
        }

        .bottom {
            top: calc(5 * 30px / 6);
            transform-origin: left bottom;
        }
    }

    &.active {
        .inner {
            .top {
                transform: rotate(45deg);
            }

            .center {
                opacity: 0;
            }

            .bottom {
                transform: rotate(-45deg);
            }
        }
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 235px;
    column-gap: 30px;
}


.login {
    max-width: 860px;
    width: 100%;
    padding: 0px 40px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    border-radius: 20px;
    max-height: 875px;
    .form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 80px;
        .group {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                padding: 25px 20px;
                border-radius: 20px;
                width: 100%;
            }
        }
    }

    .button {
        padding: 25px 0px;
        width: 100%;
        margin-top: 40px;
    }

    .noacc {
        margin-top: 65px;
    }

    .main {
        margin-top: 80px;
    }
}



header {
    position: absolute;
    top: 0;
    border-bottom-radius: 0px;
}



.gr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    border-top-radius: 10px;
}